body{
    width: 100%;
    padding: 300px 0;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-image: linear-gradient(to left, #364958,#3b6064, #55828b, #87bba2);
    background-size: 500% 100%;
    animation: degrade 15s infinite alternate;*/
   }
  
  @keyframes degrade{
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 100%;
    }
  }
  
.sidebar {
    position: fixed;
    top: 100px;
    left: 10px;
    width: 20.5%;
    height: 85%;
    padding: 20px;
    border-radius: 10px;
    background-color: #e5e5e5;}

.centerbar {
    position: fixed;
    left: 335px;
    top: 60px;
    width: 78%;
    height: 90.5%;
    padding: 20px;
    border-radius: 10px;
    background-color: #e5e5e5;
}
