.section_form{
    position: fixed;
    margin-top: 40px;
    left: 35%;
    height: 450px;
    background-color: #c9e4ca;
    padding: 50px;
    border-radius: 20px;
}

.feed-form {
  margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 13%;
  }

.feed-form input {
    height: 60px;
    border-radius: 5px;
    color: white;
    background: #3b6064;
    margin-bottom: 15px;
    border: none;
    font-weight: 300;
    font-size: 14px;
  }
  
.button_submit:hover, .feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #378de2;
  }
  
.titulo{
    text-align: center;
    
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
body{
  width: 100%;
  padding: 300px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, #364958,#3b6064, #55828b, #87bba2);
  background-size: 500% 100%;
  animation: degrade 15s infinite alternate;
 }

@keyframes degrade{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 100%;
  }
}
